<html lang="en">

  <head>
    <title>Are You Fitter Than a Norwegian?</title>
    <link rel="stylesheet" href="../static/dataStyle.css">
  </head>

  <!-- The body consists of the visible parts of the web page. -->
  <body>
    <!-- In the header, we display the title of the page along
    with a tagline and a logo that serves as a link back to the
    homepage.-->
    <header>
      <figure>
        <a href="/">
          <img class="siteLogo" src="../static/NorwegianPulse.jpg" alt="Site Logo">
        </a>
      </figure>
      <h1>Are You Fitter Than a Norwegian?</h1>
      <h3 class="tagline">See if You Can Outrun a Viking</h3>
    </header>


    <!-- Here, we create a navigation bar that will highlight
    the menu icon of the current page light blue, and the other
    pages white, providing breadcrumbs that assist the user
    in navigation and helping them achieve their goals. It also
    highlights the page that the cursor hovers over with dark
    blue. The details of these aesthetics are present in the
    corresponding CSS file. -->
    <nav>
      <ul>
        <li class="highlighted"><a href="/">Calculators</a></li>
        <!--Eventually needs to link to the standards page-->
        <li><a href="/standards">Standards</a></li>
        <li><a href="/about">About This Data</a></li>
      </ul>
    </nav>

      <!-- This is the results section: it will
      display the results calculator after the
      user fills out appropriate fields and
      presses calculate.-->
      <div class="results">
        <a name="results" id="results">
          <div class="stars">
            <h2 id="data">Your Stamina Level based on your Maximal Treadmill Test Runtime is
              {% if (percent < 20)  %}
<strong class="staminaLevel">Beginner</strong>
              {% elif ((percent >= 20) and (percent < 40))  %}
<strong class="staminaLevel">Novice</strong>
              {% elif ((percent >= 40) and (percent < 60))  %}
<strong class="staminaLevel">Intermediate</strong>
              {% elif ((percent >= 60) and (percent < 80))  %}
<strong class="staminaLevel">Advanced</strong>
              {% elif (percent > 80)  %}
<strong class="staminaLevel">Elite</strong>
              {% endif %}
            </h2>
            {% if (percent < 5)  %}
            <img class="stars" src="../static/zeroOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 5) and (percent < 15))  %}
            <img class="stars" src="../static/oneHalfOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 15) and (percent < 25))  %}
            <img class="stars" src="../static/oneOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 25) and (percent < 35))  %}
            <img class="stars" src="../static/oneAndAHalfOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 35) and (percent < 45))  %}
            <img class="stars" src="../static/twoOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 45) and (percent < 55))  %}
            <img class="stars" src="../static/twoAndAHalfOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 55) and (percent < 65))  %}
            <img class="stars" src="../static/threeOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 65) and (percent < 75))  %}
            <img class="stars" src="../static/threeAndAHalfOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 75) and (percent < 85))  %}
            <img class="stars" src="../static/fourOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif ((percent >= 85) and (percent < 95))  %}
            <img class="stars" src="../static/fourAndAHalfOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% elif (percent > 95)  %}
            <img class="stars" src="../static/fiveOutOfFiveStars.jpg" alt="Rank out of 5 starts">
            {% endif %}
          </div>
          <div class = "subResultsRow">
            <div class = "subResults">
              <div class="percentile">
                <p>You can outrun </p>
                <strong class="percentile">{{ percent }}%</strong>
                {% if (gender == 'Other') %}
                <p>of Norwegians between 17 to 21 years old.</p>
                {% else %}
                <p>of {{ gender }} Norwegians between 17 to 21 years old.</p>
                {% endif %}
                <p>Congrats!</p>
              </div>
              <br>
            </div>
          </a>
          <p>If you'd like to learn more about what VO2 Max Scores and
            Maximal Treadmill Runtimes are, click the standards button below.
            It provides definitions and demonstrates how these values varies
            across Norwegians.</p>
        </div>
        <ul>
          <li class="button"><a href="/standards">See Full Stamina Standards</a></li>
        </ul>
      </div>

    <!-- This portion of the page will center on the
    main content that the site has to offer: a calculator
    and a description of how to use the site-->
    <div class="page_content">
      <div class="description">
        <h2 id="data">How to Use This Site</h2>
        <p> This site offers multiple calculators to compare your fitness levels with that of Norwegians:</p>
        <li> <a href="/"> Enter a description of your runs and calculate your percentile rank among Norwegians.</a></li>
        <li> <a href="/dataRunFromPercentile">See how fast Norwegians can perform your runs by entering a run description and a desired percentile.</a></li>
        <li> <a href="/dataPercentileFromVO2">Enter your VO2 Max score and see your percentile rank among Norwegians.</a></li>
        <li> <a href="/dataVO2FromPercentile">Enter a percentile and get the VO2 Max score of Norwegians in that percentile.</a></li>
        <li> <a href="/dataPercentileFromTreadmillRuntime">Enter your runtime on the Maximal Treadmill Test and see your percentile rank among Norwegians.</a></li>
        <li> <a href="/dataTreadmillRuntimeFromPercentile">Enter a percentile and get the runtime on the Maximal Treadmill Test of Norwegians in that percentile.</a></li>
      </div>


      <!-- This is the calculator portion of the page.
      Notice how we pass any parameters from the previous
      page into this page. This meets users' goals by
      reducing the repetive task of re-entering the
      data if the users want to run a similar query. -->
      <div class="content">
        <h2 id="#calculators">Percentile from Treadmill Runtime Calculator</h2>
        <p> Please enter your Runtime on the Maximal Treadmill Test along
          with your Gender:</p>
        <form action="/resultsPercentileFromTreadmillRuntime" method = 'POST'>
          <label for="fname">Maximal Treadmill Test Runtime:</label><br>
          <input type="number" step="any" id="treadRuntime" name="treadRuntime" value={{ treadRuntime }}><select id="timeUnits" name="timeUnits">
            <option value="sec">sec</option>
            <option value="min">min</option>
            <option value="hr">hr</option>
          </select><br><br>

          {% if (gender == 'Male')  %}
          <input type="radio" id="Male" name="gender" value="Male" checked="checked">
          <label for="html">Male</label><br>
          <input type="radio" id="Female" name="gender" value="Female">
          <label for="html">Female</label><br>
          <input type="radio" id="Other" name="gender" value="Other">
          <label for="html">Other</label><br><br>
          {% elif (gender == 'Female')  %}
          <input type="radio" id="Male" name="gender" value="Male">
          <label for="html">Male</label><br>
          <input type="radio" id="Female" name="gender" value="Female" checked="checked">
          <label for="html">Female</label><br>
          <input type="radio" id="Other" name="gender" value="Other">
          <label for="html">Other</label><br><br>
          {% elif (gender == 'Other')  %}
          <input type="radio" id="Male" name="gender" value="Male">
          <label for="html">Male</label><br>
          <input type="radio" id="Female" name="gender" value="Female">
          <label for="html">Female</label><br>
          <input type="radio" id="Other" name="gender" value="Other" checked="checked">
          <label for="html">Other</label><br><br>
          {% endif %}

          <input type="submit" value="Calculate!">
        </form>

      </div>
    </div>
  </body>
</html>
